<h1>Tacos</h1>
<p>Let's eat delicious tacos!</p>

<% tacos = ["carnitas", "steak", "veggie"] %>

<p>There are <%= tacos.count %> tacos!</p>
<ul>
<% for taco in tacos %>
  <li><%= taco %></li>
  <% end %>
</ul>